.navigation {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 100;
  background: #ffffff;
  border-right: 1px solid #edf0f5;
}

.navigation .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar-wraper {
  background: #ffffff;
  display: block;
}

.mobile-sidebar-wraper {
  display: none;
}

.mobile-sidebar-wraper .ant-drawer-body {
  padding: 0px !important;
}

.tabsNavigation span {
  background-color: transparent;
}

.tabsNavigation:hover span {
  box-shadow: 0px 0px 30px 8px rgba(0, 115, 255, 0.15);
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .sidebar-wraper {
    display: none;
  }

  .navigation {
    height: 100%;
  }

  .mobile-sidebar-wraper {
    display: block;
  }
}
